{% extends 'base.html.twig' %}

{% block title %} API Authentication {% endblock %}

{% block body %}
    <div class="text-center py-3">
        <h1>Formulaire de connnexion</h1>

        <form action="/login" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">

            <button type="submit" id="loginBtn">Se connecter</button>
        </form>
    </div>
{% endblock %}
